[submodule "modulekit"]
	path = modulekit
	url = https://github.com/plepe/modulekit.git
[submodule "modules/lang"]
	path = modules/lang
	url = https://github.com/plepe/modulekit-lang.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/plepe/OpenStreetBrowser-database.git
[submodule "modules/base"]
	path = modules/base
	url = https://github.com/plepe/modulekit-base.git
[submodule "modules/render-backend"]
	path = modules/render-backend
	url = https://github.com/plepe/OpenStreetBrowser-render-backend.git
[submodule "modules/form"]
	path = modules/form
	url = https://github.com/plepe/modulekit-form.git
[submodule "modules/adv_exec"]
	path = modules/adv_exec
	url = https://github.com/plepe/adv_exec.git
[submodule "modules/lib"]
	path = modules/lib
	url = https://github.com/plepe/modulekit-lib.git
