[submodule "modulekit"]
	path = modulekit
	url = https://github.com/plepe/modulekit.git
        branch = nodejs
[submodule "lib/modulekit/base"]
	path = lib/modulekit/base
	url = https://github.com/plepe/modulekit-base.git
[submodule "lib/modulekit/mysql-sessions"]
	path = lib/modulekit/mysql-sessions
	url = https://github.com/plepe/PHP-MySQL-Sessions.git
