/***** GENERAL LAYOUT *****/
body {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family:Tahoma,Arial,Verdana;
  font-size: 11px;
  color:#333;
}
a {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: underline;
}

#sidebar {
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 270px;
  position: absolute;
}
#map {
  position: absolute;
  left: 270px;
  border-left: 1px solid #999;
  top: 0;
  bottom: 0;
  right: 0;
}
#mapShadow {
  position: absolute;
  left: 271px;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 10000;
  background-image: url(img/shadow_left.png);
  background-repeat: repeat-y;
}

#sidebar {
  display: flex;
  flex-direction: column;
}
#sidebar > #header {
  padding-top: 27px;
  padding-left: 10px;
  height:110px;
  font-size:18px;
  color:#333;
  line-height:130%;
  margin-top:5px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
#sidebar > #header > img {
  float: left;
  margin-top: -17px;
  padding-right: 10px;
}
#sidebar > #header > #title {
  float: left;
  width: 110px;
}
#sidebar > #header > #title > .large {
  font-size: 28px;
  display: block;
}
#sidebar > #header > #title > .version {
  display: block;
  font-size: 16px;
}

#sidebar > #globalTabs {
  padding-left: 10px;
  padding-right: 10px;
}
#sidebar > #globalTabs ul.tabs-list {
  font-size: 15pt;
}
.tabs-section {
  padding: 0.1em;
  max-height: 250px;
  overflow-y: auto;
}
.tabs-section > h3:first-of-type {
  margin-top: 0;
}

#sidebar > #content {
  flex: 1;
  flex-shrink: 0;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#sidebar > #footer {
  flex: 0;
}

#content > div {
  display: none;
}
#content.list > #contentList {
  display: block;
}
#content.details > #contentDetails {
  display: block;
}
#content.options > #contentOptions {
  display: block;
}


/* Popups */
.leaflet-popup-content ul.popup-footer {
  padding: 0;
}
.leaflet-popup-content ul.popup-footer li {
  display: inline-block;
  list-style: none;
  padding-right: 1em;
}

/* Footer */
#menu {
  margin: 0 0;
  padding: 0 0;
}
#menu li {
  display: inline-block;
  margin: 1px 0;
}
#menu li::after {
  content: '|';
  margin: 1px 0.25em;
}
#menu li:last-of-type::after {
  content: '';
}
#menu li:first-of-type {
  margin-left: 0.25em;
}

@media all and (max-height: 600px) {
.tabs-section {
  max-height: 200px;
}
}
@media all and (max-height: 500px) {
.tabs-section {
  max-height: 150px;
}
}
@media all and (max-height: 400px) {
#sidebar {
  overflow: auto;
}
#sidebar > #content {
  overflow: visible;
}
.tabs-section {
  max-height: none;
  overflow-y: visible;
}
}

@media all and (max-width: 500px) {
#sidebar {
  top: 0;
  height: 270px;
  left: 0;
  right: 0;
  bottom: auto;
  width: auto;
  overflow: auto;
}
#map {
  left: 0;
  bottom: 0;
  top: 270px;
  right: 0;
  border-left: none;
  border-top: 1px solid #999;
}
#mapShadow {
  left: 0;
  right: 0;
  top: 271px;
  bottom: auto;
  height: 5px;
  width: auto;
  background-image: url(img/shadow_top.png);
  background-repeat: repeat-x;
}
#sidebar > #content {
  overflow: visible;
}
.tabs-section {
  max-height: none;
  overflow-y: visible;
}
}

@media all and (max-width: 500px) and (max-height: 500px) {
#sidebar {
  height: 220px;
}
#map {
  top: 220px;
}
#mapShadow {
  top: 221px;
}
}

@media all and (max-width: 500px) and (max-height: 460px) {
#sidebar {
  height: 200px;
}
#map {
  top: 200px;
}
#mapShadow {
  top: 201px;
}
}

@media all and (max-width: 500px) and (max-height: 420px) {
#sidebar {
  height: 180px;
}
#map {
  top: 180px;
}
#mapShadow {
  top: 181px;
}
}

/* FULLSCREEN */
.leaflet-control-fullscreen {
  font-size: 20px;
}
.fullscreen #sidebar {
  display: none;
}
.fullscreen #map {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  border: none;
}
.fullscreen #mapShadow {
  display: none;
}
#loadingIndicator {
  display: none;
}
.fullscreen.loading > #loadingIndicator {
  display: block;
  z-index: 10000;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
}
.fullscreen.loading > #loadingIndicator:before {
  display: block;
  position: absolute;
  content: "";
  margin-left: -250px;
  width: 250px;
  height: 4px;
  background: red;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    margin-left: -250px;
  }
  100% {
    margin-left: 100%;
  }
}

#content {
  font-size: 12px;
  font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  line-height: 1.4;
}
#content h1,
.leaflet-popup-content > h1 {
  margin: 0;
}
#contentDetails a {
  color: #0078A8;
}

.yes {
  color: green;
}
.limited {
  color: orange;
}
.no {
  color: red;
}

.description,
.leaflet-popup-content .description {
  display: block;
  text-align: right;
  font-style: italic;
}
.description:after,
.leaflet-popup-content .description:after {
  content: '';
  clear: right;
}

.body ul,
.leaflet-popup-content ul {
  margin: 0;
  padding-left: 20px;
}
.body ul > li,
.leaflet-popup-content ul > li {
  position: relative;
}
.body ul > li.hasSymbol,
.leaflet-popup-content ul > li.hasSymbol {
  list-style: none;
}
.body ul > li.hasSymbol > i,
.leaflet-popup-content ul > li.hasSymbol > i,
.body ul > li.hasSymbol > .symbol,
.leaflet-popup-content ul > li.hasSymbol > .symbol,
.body ul > li.hasSymbol > img,
.leaflet-popup-content ul > li.hasSymbol > img,
.body ul > li.hasSymbol > span > svg,
.leaflet-popup-content ul > li.hasSymbol > span > svg {
  position: absolute;
  margin-left: -20px;
  padding-top: 2px;
}
.body ul > li > .key,
.leaflet-popup-content ul > li > .key {
  font-weight: bold;
}

#contentDetails div > .loadingIndicator {
  display: none;
}
#contentDetails div.loading > .loadingIndicator {
  float: right;
  display: block;
}

/* Wikipedia */
.wikipedia img {
  max-width: 100px;
  max-height: 100px;
  float: right;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
.wikipedia div {
  text-align: justify;
}
#contentDetails h3 {
  border-bottom: 1px solid black;
  clear: both;
  text-align: left;
}
#contentDetails h4 {
  clear: both;
}
.wikipedia .reference {
  display: none;
}
.leaflet-popup-content .images {
  float: right;
  margin-left: 0.5em;
  max-width: 100px;
  max-height: 150px;
}
.leaflet-popup-content .images img {
  max-width: 100px;
  max-height: 150px;
}

#contentDetails .images {
}
#contentDetails .images .imageWrapper {
  text-align: center;
  width: 100%;
  height: 200px;
  background: grey;
  position: relative;
}
#contentDetails .images .imageWrapper img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.info .sign,
.overpass-layer-icon .sign {
  white-space: nowrap;
}
