/***** GENERAL LAYOUT *****/
body {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family:Tahoma,Arial,Verdana;
  font-size: 11px;
  color:#333;
}

#sidebar {
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  padding-left:10px;
  padding-right:10px;
  position: absolute;
}
#map {
  position: absolute;
  left: 270px;
  border-left: 1px solid #999;
  top: 0;
  bottom: 0;
  right: 0;
}
#mapShadow {
  position: absolute;
  left: 271px;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 10000;
  background-image: url(img/shadow_left.png);
  background-repeat: repeat-y;
}

#sidebar {
  display: flex;
  flex-direction: column;
}
#sidebar > #header {
  padding-top: 27px;
  height:110px;
  font-size:18px;
  color:#333;
  line-height:130%;
  margin-top:5px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
#sidebar > #header > img {
  float: left;
  margin-top: -17px;
  padding-right: 10px;
}
#sidebar > #header > #title {
  float: left;
  width: 110px;
}
#sidebar > #header > #title > .large {
  font-size: 28px;
  display: block;
}
#sidebar > #header > #title > .version {
  display: block;
  font-size: 16px;
}

#sidebar > #content {
  flex: 1;
  flex-shrink: 0;
  overflow: auto;
}

#sidebar > #footer {
  flex: 0;
}


/***** CATEGORY *****/
/* root category */
#content > .category > .content > .categoryWrapper > .category {
  margin-left: 0;
}
#content .category {
  position: relative;
}
#content .category > .loadingIndicator {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  display: none;
}
#content .category.loading > .loadingIndicator {
  padding-top: 2px;
  display: block;
}

#content .category > .loadingIndicator2 {
  display: none;
}

/* Source: http://tobiasahlin.com/spinkit/ */
#content .category.open.loading > .loadingIndicator2 {
  text-align: left;
  display: block;
  background: #efefef;
  padding-left: 40px;
}

#content .category.loading > .loadingIndicator2 > div {
  width: 9px;
  height: 9px;
  margin-right: 9px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#content .category.loading > .loadingIndicator2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#content .category.loading > .loadingIndicator2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#content .category header {
  padding-top: 3px;
  border-bottom: 1px dotted #999;
  user-select: none;
  font-size: 15px;
}
#content .category header > a {
  text-decoration: none;
  color: black;
}
#content .category header > a:active,
#content .category header > a:hover {
  text-decoration: underline;
}
#content .category header > a.reload {
  float: right;
}
#content .category > .content,
#content .category > .status {
  display: none;
}
#content .category.open > .content,
#content .category.open > .status {
  display: block;
}
#content .category > .status,
#content .category > .content > ul.overpass-layer-list {
  padding-top: 3px;
  background: #efefef;
}

#content .category > div > div> .category {
  margin-left: 1em;
}
ul.overpass-layer-list {
  margin-top: 0;
  margin-bottom: 0;
}
ul.overpass-layer-list > li {
  position: relative;
  list-style: none;
  min-height: 30px;
}
ul.overpass-layer-list > li > .markerParent {
  position: absolute;
  margin-left: -35px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
}
ul.overpass-layer-list > li > .markerParent > .marker {
}
ul.overpass-layer-list > li > .markerParent > .icon {
  text-align: center;
  position: absolute;
  top: 3px;
  font-size: 15px;
  left: 0;
  right: 0;
  z-index: 1;
  display: inline-block;
}
ul.overpass-layer-list > li > a.title {
  display: inline-block;
  color: black;
  text-decoration: none;
}
ul.overpass-layer-list > li > a.title:hover,
ul.overpass-layer-list > li > a.title:active {
  text-decoration: underline;
}
ul.overpass-layer-list > li > div.description {
  font-style: italic;
  color: #707070;
  float: right;
  text-align: right;
}
ul.overpass-layer-list > li:after {
  content: '';
  display: table;
  clear: both;
}
.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}
.leaflet-popup-content pre {
  font-size: 8px;
}
.overpass-layer-icon div {
  position: relative;
  top: -46px;
  font-size: 15px;
  width: 25px;
  text-align: center;
}
#content a.showDetails {
  display: none;
}
a.showDetails {
  display: block;
}

/* Footer */
#menu {
  margin: 0 0;
  padding: 0 0;
}
#menu li {
  display: inline-block;
}
#menu a {
  text-decoration: none;
  color: black;
}
#menu a:hover {
  text-decoration: underline;
}
#menu li::after {
  content: ' |';
}
#menu li:last-of-type::after {
  content: '';
}

@media all and (max-height: 400px) {
#sidebar {
  overflow: auto;
}
#sidebar > #content {
  overflow: visible;
}
}

@media all and (max-width: 500px) {
#sidebar {
  top: 0;
  height: 270px;
  left: 0;
  right: 0;
  bottom: auto;
  width: auto;
  overflow: auto;
}
#map {
  left: 0;
  bottom: 0;
  top: 270px;
  right: 0;
  border-left: none;
  border-top: 1px solid #999;
}
#mapShadow {
  left: 0;
  right: 0;
  top: 271px;
  bottom: auto;
  height: 5px;
  width: auto;
  background-image: url(img/shadow_top.png);
  background-repeat: repeat-x;
}
#sidebar > #content {
  overflow: visible;
}
}

@media all and (max-width: 500px) and (max-height: 500px) {
#sidebar {
  height: 220px;
}
#map {
  top: 220px;
}
#mapShadow {
  top: 221px;
}
}

@media all and (max-width: 500px) and (max-height: 460px) {
#sidebar {
  height: 200px;
}
#map {
  top: 200px;
}
#mapShadow {
  top: 201px;
}
}

@media all and (max-width: 500px) and (max-height: 420px) {
#sidebar {
  height: 180px;
}
#map {
  top: 180px;
}
#mapShadow {
  top: 181px;
}
}

/* FULLSCREEN */
.leaflet-control-fullscreen {
  font-size: 20px;
}
.fullscreen #sidebar {
  display: none;
}
.fullscreen #map {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  border: none;
}
.fullscreen #mapShadow {
  display: none;
}
#loadingIndicator {
  display: none;
}
.fullscreen.loading > #loadingIndicator {
  display: block;
  z-index: 10000;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
}
.fullscreen.loading > #loadingIndicator:before {
  display: block;
  position: absolute;
  content: "";
  margin-left: -250px;
  width: 250px;
  height: 4px;
  background: red;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    margin-left: -250px;
  }
  100% {
    margin-left: 100%;
  }
}
