.talk {
  min-width: 300px;
  min-height: 200px;
}
textarea.talk_edit_content {
  width: 300px;
  height: 200px;
}
.talk form {
  margin-bottom: 0px;
}
.talk .text {
  overflow: auto;
  max-height: 200px;
}
.talk .text_default {
  overflow: auto;
  max-height: 200px;
  font-style: italic;
}
