div.blog_win {
}
div.blog_content {
  overflow: auto;
  padding: 3px;
}
div.blog_content iframe {
  height: 200px;
  width: 500px;
  border: 0px;
}
div.blog_loader {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3px;
}
div.blog_win {
  position: relative;
}
div.blog_win input {
  margin: 3px;
  margin-top: 2px;
}
