div.category_closed {
}
div.category_open {
}
div.category_closed .header a.header,
div.category_open .header a.header {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  border-bottom: none;
}
div.category_closed .header,
div.category_open .header {
  border-bottom: 1px dotted #999;
}

div.category_closed .status,
div.category_closed .sub,
div.category_closed .data,
div.category_closed .more {
  display: none;
}

div.category_open
  div.category_closed {
  margin-left: 0px;
  background: #ffffff;
  border-bottom: 1px dotted #999;
}
div.category_open
  div.category_open {
  margin-left: 0px;
  background: #efefef;
  border-bottom: 1px dotted #999;
}
div.category_open
  div.category_closed .header a.header,
div.category_open
  div.category_open .header a.header {
  font-size: 13px;
  font-weight: bold;
  font-family: Tahoma, Arial, Verdana;
  font-style: normal;
}
div.category_open
  div.category_closed .header,
div.category_open
  div.category_open .header {
  text-align: left;
  padding-top: 3px;
  margin-bottom: 3px;
  border-bottom: 0px;
}
div.category_open
  div.category_open .header {
  border-bottom: 1px dotted #ddd;
}

div.category_open
  div.category_open
    div.category_open {
  margin-left: 16px;
  background: none;
}
div.category_open
  div.category_open
    div.category_closed {
  margin-left: 16px;
  border-bottom: 0px;
  background: none;
}
div.category_open
  div.category_open
    div.category_closed .header,
div.category_open
  div.category_open
    div.category_open .header {
  padding-top: 1px;
  margin-bottom: 2px;
  border-bottom: 0px;
}
div.category_open
  div.category_open
    div.category_closed .header a.header,
div.category_open
  div.category_open
    div.category_open .header a.header {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}

div.category_open .data ul {
  margin-bottom: 0px;
}

span.category_tools {
  float: right;
  margin-right: 2px;
  margin-top: 1px;
}
span.category_tools,
a.category_tools {
  font-size: 8pt;
  font-weight: normal;
}
