li.list-image {
  list-style-type: none;
  margin-left: -20px;
  padding-left: 20px;
  background-repeat: no-repeat;
}
li.list .list-type {
  color: #909090;
  font-size: 7pt;
  font-style: italic;
}
