{% macro sub_categories(categories) %}
  {% import _self as macros %}
  <ul>
  {% for category in categories %}
    <li><a action='add?{{ category.id }}'>{{ category.meta.title|default(category.id) }}</a>
    (<a action='edit?{{ category.id }}'>edit</a>)
    {% if category.categories %}
      {{ macros.sub_categories(category.categories) }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% import _self as macros %}

<h4>Categories</h4>
{{ macros.sub_categories(categories) }}

<a action='new'>New category</a>

<h4>History</h4>
<ul>
{% for commit in history %}
  <li> <a target='_new' href='gitweb/?p={{ id }}/.git;a=commit;h={{ commit.rev }}'>{{ commit.message }}</a> ({{ commit.modified|date('Y-m-d G:i') }})
{% endfor %}
</ul>
<a target='_new' href='gitweb/?p={{ id }}/.git;a=shortlog;h=refs/heads/{{ branch }}'>Further commits &amp; details on Gitweb</a></td>

<h4>Branches</h4>
<p>Currently using branch {{ branch }}.</p>
<p>
{% if other_branches|length %}
<table>
  <tr>
    <td>Branch</td>
    <td>Last modified</td>
    <td>Last message</td>
    <td>Links</td>
  </tr>
{% for branch_id, branch in other_branches %}
  <tr>
     <td><a action='category_repository_browser?{{ id }}@{{ branch_id }}'>{{ branch_id }}</a></td>
     <td>{{ branch.last_modified|date('Y-m-d G:i') }}</td>
     <td>{{ branch.last_message }}</td>
     <td><a target='_new' href='gitweb/?p={{ id }}/.git;a=shortlog;h=refs/heads/{{ branch_id }}'>Gitweb</a></td>
   </tr>
{% endfor %}
</table>
{% endif %}
<a action='fork_repository'>Fork a new branch</a></li>
</p>
