{% macro sub_categories(categories) %}
  {% import _self as macros %}
  <ul>
  {% for category in categories %}
    <li><a action='add?{{ category.id }}'>{{ category.meta.title|default(category.id) }}</a>
    (<a action='edit?{{ category.id }}'>edit</a>)
    {% if category.categories %}
      {{ macros.sub_categories(category.categories) }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% import _self as macros %}

<h4>Categories</h4>
{{ macros.sub_categories(categories) }}

<a action='new'>New category</a>

<h4>Branches</h4>
<p>Current branch: {{ branch }} (modified: {{ last_modified|date('Y-m-d G:i') }}, message: {{ last_message }})
</p>

<p>Further branches:
<ul>
{% for branch_id, branch in other_branches %}
<li><a action='category_repository_browser?{{ id }}@{{ branch_id }}'>{{ branch_id }}</a>, {{ branch.last_modified|date('Y-m-d G:i') }}, {{ branch.last_message }}
{% endfor %}
</ul>
</p>
