body #right_bar {
  display: none;
}
body.has_right_bar #right_bar {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 152px;
  text-align: center;
  overflow: hidden;
  border-left: 1px solid #999;
}
body.has_right_bar #right_bar XXXiframe {
  height: 640px;
  width: 120px;
  border: none;
  padding: 0px;
  margin: 0px;
}
body.has_right_bar #right_bar .stuff {
  text-align: center;
}
body.has_right_bar #right_bar #right_bar .tip {
  margin-left: 5px;
  margin-right: 5px;
}
body.has_right_bar div#content {
  right: 153px;
}
body.has_right_bar div#right_bar_hide {
  position: absolute;
  right: 0px;
  top: 0px;
}
@media only screen and (max-width: 800px) {
body.has_right_bar #right_bar {
  display: none;
}
body.has_right_bar div#content {
  right: 0px;
}
}
