body {
  margin: 0px;
  overflow: hidden;
}
.twtr-tweet-text {
  margin-left: 0px;
}
#twtr-widget-1 .twtr-tweet-text {
  margin-left: 0px;
}
.twtr-doc {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-radius: 0px;
}
.twtr-tweet-text,
.twtr-tweet-text p {
  font-size: 11px;
}
